body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #1f201f;
    color: rgb(85, 85, 85);
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
}